{% extends "base.html" %}
{% block title %}Активные опросы{% endblock %}

{% block content %}
    <h2>Активные опросы</h2>
    
    {% if post_list %}
        {% for post in post_list %}
            <div>
                <h3><a href="{% url 'polls:post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                <p>{{ post.short_description }}</p>
                <small>Автор: {{ post.author.username }} | Истекает: {{ post.expiration_date|date:"d M Y H:i" }}</small>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>Активных опросов пока нет.</p>
    {% endif %}
{% endblock %}